body {
    height: 52vw !important;
}

.header_image {
    margin-top: -4vw !important;
}

#body_items_clock {
    width: 60vw;
    height: fit-content;
    padding-top: 4vw;
    left: 19%;
}

.back_page_div {
    cursor: pointer;
    margin-top: 3vw;
}

#back_page_text {
    padding-top: 2vw !important;
    margin-right: .5vw;
}

#result_button_clock {
    top: 17.2vw;
    left: 5vw;
}

.result_content_label_title {
    width: 19vw;
    margin-top: -1.5vw;
    font-family: 'Vazir';
    font-size: 1.3vw;
    color: #686868;
    text-align: right;
    font-weight: 600;
    ;
}

#select_text_clock {
    margin-left: 26vw !important;
    margin-bottom: .8vw !important;
}

#select_text_clock_pronoun {
    margin-left: 26vw !important;
    margin-top: -4vw;
    position: absolute;
}

#select_text_character_clock {
    margin-left: 36vw !important;
    margin-top: -4vw;
    position: absolute;
}

#result_content {
    margin-top: 2.2vw;
    margin-bottom: 4vw;
}

#result_content_label_background_content {
    width: 39.6vw;
    height: fit-content;
}

.result_content_label_text {
    width: auto !important;
    height: fit-content!important;
    padding-top: 1vw;
    margin-right: 1vw;
    padding-bottom: 1vw;
    margin-top: -0.5vw;
    user-select: text !important;
    padding-left: 2vw;
}

#result_content_label_background_clock {
    width: 59vw;
    height: fit-content;
}

#data_content_clock {
    width: auto;
    height: 4vw;
}

#data_content_label_background_clock {
    width: 10vw;
    height: 4vw;
    text-align: center;
    font-size: 1.5vw;
}

#data_content_label_background_minutes {
    width: 10vw;
    height: 4vw;
    text-align: center;
    font-size: 1.5vw;
}

#data_content_label_background_character {
    text-align: right;
    float: right;
}

#data_content_label_underline_clock {
    width: 7vw;
    height: .15vw;
    position: absolute;
    margin-left: 1.5vw;
}

#data_content_label_background_type_clock {
    width: 15vw;
    height: 4vw;
    direction: rtl;
    font-weight: 500;
    font-size: 1.5vw;
    appearance: none;
    position: absolute;
    background-color: transparent;
    margin-top: -4vw;
}

#select_background_clock {
    width: 10vw;
    height: 4vw;
    direction: rtl;
    /* position: absolute; */
}

#img_select_arrow {
    width: 1.1vw;
    position: absolute;
    margin-left: 1.5vw;
    height: 1vw;
    margin-top: 1.6vw;
}

#data_content_label_type_clock {
    width: fit-content;
    text-align: left;
    float: right;
    height: fit-content;
}

#data_content_label_type_character {
    margin-right: .6vw;
    width: fit-content;
    text-align: left;
    display: inline-block;
    height: fit-content;
}

#result_content {
    padding-right: 3vw;
    direction: rtl;
}

.result_content_fields {
    width: 16vw;
    display: inline-block;
}

#data_content_field1 {
    float: right;
    margin-right: 1.7vw;
}

#data_content_field2 {
    float: right;
}

#double_dot {
    width: 2vw;
    margin: 0vw;
    font-size: 3vw;
    margin-right: 1vw;
    float: right;
    color: var(--secondaryColor);
}

#result_button_clock_now {
    top: 11.2vw;
    left: 5vw;
}

#result_button_clock_now #result_button_img_clock {
    background-color: white;
    border: .2vw var(--resultButtons) solid;
    inline-size: 9.5vw;
}

#result_button_clock_now #result_button_text_clock {
    color: var(--resultButtons);
    font-size: 1.7vw;
}

#result_button_clock_now #result_button_img_clock:hover {
    margin-top: -0.2vw !important;
    box-shadow: 0 .4vw 0 #f1f1f1 !important;
}

#result_button_clock_now #result_button_img_clock:active {
    margin-top: .4vw !important;
    box-shadow: 0 0vw 0 #f1f1f1 !important;
}